@import url('https://fonts.cdnfonts.com/css/unica-one');

* {
    margin: 0;
    font-family: 'Unica One','Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body {
    background-color: #402306;
    color: white;

}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #4b3621;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999;
    animation-fill-mode: forwards;
}

.overlay div h1 {
    margin:2vh;
}

.overlay div p {
    margin:2vh;
}


.overlayContent {
    color: #fff;
    text-align: center;
}

.overlayContent button {
    background-color: white;
    animation: breathe-orange-white 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    cursor:pointer;
    background-color: white;
    padding: 10px 4px 10px 4px;
    width: 200px;
    border-radius: 10px;
    margin:auto;
    animation: fadeOut 2s;
}

.overlayContent button:hover {
    background-color: saddlebrown;
    color:rgb(255, 255, 255);
    cursor:pointer;
    animation: fadeIn 2s;
}

@keyframes fadeIn {
    0% { background-color: white;
        color:black;
     }
    100% { background-color: saddlebrown; 
        color:white;
    }
  }

  @keyframes fadeOut {
    0% { background-color: saddlebrown;
        color:white;
     }
    100% { background-color: white; 
        color: black;
    }
  }

  @keyframes whiteout {
    0% {}
    100% { background-color: white;}
  }

  @keyframes expandout {
    0% {background-color: white;
        font-size: 2vw;}
    100% {background-color: none;
        font-size: 10vw;}
  }

  @keyframes fadeOutOverlay {
    0% { opacity: 1; }
    100% { opacity: 0; display: none; }
}

/* CSS styles for navigation panel */
ul.navigation {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #2c1408;
    overflow: hidden;
    width: -webkit-fill-available;
}

ul.navigation li {
    float: left;
}

ul.navigation li a {
    display: block;
    color: #ffffff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

ul.navigation li a:hover {
    background-color: #443b367c;
}

@keyframes display-fadeinout {
    0% {opacity: 1;}
    50% {opacity: 0;}
    100% {opacity: 1;}
}

#display {
}

video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    }

.hero-container {
    position: relative;
    width: 100%;
    height: 50vh; /* Adjust the height as needed */
    overflow: hidden;
    }

.hero-container {
    position: relative;
    width: 100%;
    height: 50vh; /* Adjust the height as needed */
    overflow: hidden;
    background: repeating-linear-gradient(45deg, black, transparent 100px);
    }

#hero {
    position: absolute;
    top: 10vh;
    padding: 10vh 25vw 10vh 10vw;
    background: rgba(139, 69, 19,0.8);
    margin: 0;
}

.resume-container {
    margin: 10vw;
}

.projects-container {
    margin: 10vw;
}

.gallery-container {
    margin: 10vw;
}


.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .gallery-item {
    width: 300px;
    height: 200px;
    margin: 10px;
    overflow: hidden;
    position: relative;
    cursor: pointer;
    border: 1px solid #ccc;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }

  .gallery-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s ease;
  }

  .gallery-item:hover img {
    transform: scale(1.2);
  }

  .gallery-item .gallery-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    transition: opacity 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 20px;
  }

  .gallery-item:hover .gallery-overlay {
    opacity: 1;
  }

.contacts-container {
    margin: 10vw;
}